@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

.section-title {
    font-size: 2rem ;
    display: inline-block;
    border-bottom: 1px solid black;
    margin: 80px 0 65px 0;
}
.content-title {
    font-size: 1rem;
    padding: 10px 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 4%;
    align-items: center;
    text-align: center;
}

#site-title  img {
    width: 120px;
}


/* header */

#header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#main-nav ul {
    display: flex;
}
#main-nav li {
    margin-left: 30px;
    font-size: 0.9rem;
    height: 50%;
    padding: 10px 0 ;
}
#main-nav a {
    color: black;
}
#main-nav a:hover {
    color: gray;
}

/* main-visual */
#main-visual img {
    height: 600px;
    object-fit: cover;
}

/* about */
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .content img {
    border-radius: 50%;
    width: 100px;
    margin-right: 30px;
}

#about .text {
    text-align: left;
    font-size: 0.9rem;
}
#about-title {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* bicycle */
.content {
    font-size: 0.9rem;
}
.content ul {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}
.content li {
    width: 32%;
}

/* footer */

#footer {
    padding-top: 100px;
    padding-bottom: 10px;
}
#footer p {
    font-size: 0.5rem;
    text-align: center;
}

/* レスポンシブ */

@media screen and (max-width: 600px) {

    #main-nav {
        margin-bottom: 17px;
    }
    #main-visual img {
        height: calc(100vh - 60px);
    }
    #about .content {
        flex-direction: column;
    }
    #about .content img {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    #bicycle ul {
        flex-direction: column;
    }
    #bicycle li {
        width: 100%;
        margin-bottom: 20px;
    }
    #bicycle li :last-child {
        margin-bottom: 0;
    }
}
